:root {
  --primary: #0baef3;
  --secondary: #001628;
  --secondary-shadow: #1a5d79;
  --slate: #b8b2b1;
  --light-slate: #f1f1f1;
  --lightest-slate: #ccd6f6;
  --white: #ffffff;
  --light-blue: #78d8ff;
}
